.gridContainer {
     border: 5px solid blue;
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 50px 50px 50px 50px;
    grid-auto-rows: 50px;
    gap: 15px 30px;
}

/* div {
    border: 2px solid black;
} */

.floorplan {
   display: inline-grid; /* inline-grid allows us to have our area restricted unlike a block. */
   grid-template: 40px 40px 40px 40px 40px / 40px 40px 40px 40px 40px;
   background-color: rgb(57, 57, 224);
}

.room {
    color: white;
    border: 1px solid rgb(212, 29, 29);
    font-size: 50%;
    text-align: center;
}

#loungeRoom {
    grid-column: 1 / 6;
    grid-row: 1/3
}

#bathroom {
    grid-column: 3;
    grid-row: 3/6;
}

#bedroom {
    grid-column: 1/3;
    grid-row: 3/5;
}

#kitchen {
    grid-column: 4/6;
    grid-row: 3/6;
}

#closet {
    grid-column: 1/3;
    grid-row: 5;
}